@import "./variables";

.base-window {
  // Настроить стиль!
  // background-color: $background-color;
  font-family: 'Fedoka One', cursive;
  height: 100%;
  padding: 0 10px;
  min-width: 980px;
  border-radius: 0 0 20px 20px;
  label, input, .icon, .input-group__selections__comma {
    color: white!important;
  }
  .input-group__details {
    &:before {
      background-color: $border-color-input !important;
    }
  }
}

// Основа плиточного интерфейса
.text-style {
  font-family: 'Fedoka One', cursive;
  font-size: 14px;
}

.border-frame {
  border-radius: 5px;
  background-color: $background-color;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
}

.frame {
  @extend .border-frame;  // Рамка 
  @extend .text-style;    // Стиль текста
  margin: 2px auto;
  padding: 5px;
}

// Списки
.my-list-base {
  @extend .border-frame;
  font-family: "Fedoka One", cursive;
  font-size: 14px;
  border: 1px solid $border-color-input;
  width: 100%;
  height: 45px;
}

.elem-list-header {
  @extend .my-list-base;
  background: #AFCDE7; // $base-color-light;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: white;
  padding: 0 15px;
  @media (min-width: 601px) {
    justify-content: flex-start;
  }
}

.elem-list-body {
  @extend .my-list-base;
  height: 100%;
  flex-basis: 25%;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #D8E6F3;
  &:first-of-type, &:nth-of-type(2) {
    text-transform: capitalize;
  }
  &:nth-of-type(3) {
    text-transform: uppercase;
  }
  @media (min-width: 601px) {
    justify-content: flex-start;
  }
}
