// Colors
$base-color-light: #0099f1; // Код цвета содранный с сайта #0077be
$base-color: #001572;
$background-tint: black;
$background-color: rgba(247, 247, 247, 0.5);
$border-color-input: rgb(255, 255, 255);